<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <form action="/" method="post" >
        <p>
            <label>
                Nombre:
                <input type="text" name="nombre" th:value="${jugador.nombre}" />
            </label>
        </p>

        <p>
            <label>
                Victorias:
                <input type="number" name="victorias" th:value="${jugador.victorias}" />
            </label>
        </p>

        <p>
            <label>
                Derrotas:
                <input type="number" name="derrotas" th:value="${jugador.derrotas}" />
            </label>
        </p>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>